<template name="homeTemplate">
	{{>presentationTemplate}}
  {{>slidesTemplate}}
  {{>whomTemplate}}

</template>

<template name="presentationTemplate">
  <section id="presentation" class="layout container centered">


    <div class="component image background">
      <figure  class="component massive image"></figure>
        <div class="masthead vertical horizontal align">
          <div class="">MALLORCA.IO</div>
          <div class="">Una comunidad Meteor abierta</div>
        </div>
    </div>

   
     
</section>
</template>

<template name="slidesTemplate">
 <section id="slides" class="layout container centered">
   <div class="paddingtop">
      <h1>¿Qué es Meteor?</h1>
  </div>
  <div class="paddingtop">
      <iframe class="responsive" src="//slid.es/valenpan/deck/embed" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
    </div>
  </section>
</template>

<template name="whomTemplate">

 <section id="whom" class="margintop layout container centered background colored">
   <div class="paddingtop">
      <h1>¿Para quien es Meteor?</h1>
  </div>
   <div class="paddingtop">
        <div class="component list">
          

        <div class="item">
            <div class="circle">
              <div class="image img1"></div>
            </div>

             <div class="content">
             
                <h3>Desarrollador</h3>
                <p>Una manera simple de dar forma a tu idea de aplicación en un fin de semana y enseñarsela al mundo.</p>
              
              <div class="component button">
                <a href="https://www.meteor.com/" target="-_blank">
                Descubre Meteor.
                </a>
              </div>
            </div>
            
        </div>

         <div class="item">
            <div class="circle">
              <div class="image img2"></div>
            </div>

             <div class="content">
              <h3>Diseñadores</h3>
              <p>Podrás construir tu propia App con una interfaz muy reactiva.</p>
               <div class="component button "><a href="http://net.tutsplus.com/tutorials/javascript-ajax/building-ribbit-in-meteor/" target="-_blank">Crear mi web app</a></div>
            </div>
           
        </div>

         <div class="item">
            <div class="circle">
              <div class="image img3"></div>
            </div>

             <div class="content">
              <h3>Emprendedores</h3>
              
              <p>Al ser ágil y escalable permite desarrollar rapidamente un MVP (prototipo).</p>
               <div class="component button "><a href="http://differential.io/about" target="-_blank">Lanzar mi prototipo</a></div>
            </div>
            
        </div>

         <div class="item">
            <div class="circle">
              <div class="image img4"></div>
            </div>

             <div class="content">
              <h3>Aprendices </h3>
              <p>La filosofía Meteor te enseña como funciona la web.</p>
               <div class="component button ">
                <a href="https://www.meteor.com/blog/2013/12/13/why-web-beginners-should-start-with-meteor" target="-_blank">Quiero Aprender</a>
                </div>
            </div>
            
        </div>
          
        </div> 


          
          
        </div>

        </div>
   </div>
  </section>
</template>