<template name="homeTemplate">
	{{>presentationTemplate}}
  {{>slidesTemplate}}
  {{>whomTemplate}}

</template>

<template name="presentationTemplate">
  <section id="presentation" class="layout container centered">


    <div class="component image background">
      <figure  class="component massive image"></figure>
        <div class="masthead vertical horizontal align">
          <div class="">MALLORCA.IO</div>
          <div class="">Una comunidad Meteor abierta</div>
        </div>
    </div>

   
     
</section>
</template>

<template name="slidesTemplate">
 <section id="slides" class="layout container centered">
   <div class="paddingtop">
      <h1>¿Qué es Meteor?</h1>
  </div>
  <div class="paddingtop">
      <iframe class="responsive" src="//slid.es/valenpan/deck/embed" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
    </div>
  </section>
</template>

<template name="whomTemplate">
/*
 <section id="whom" class="margintop layout container centered background colored">
   <div class="paddingtop">
      <h1>¿Para quien es Meteor?</h1>
  </div>
   <div class="paddingtop">
        <div class="component list">
          

        <div class="item">
            <div class="circle">
              <div class="image"></div>
            </div>

             <div class="content">
              <h3>Front End </h3>
              <p>Podrás construir interfaces estelares en un fin de semana. Disfrutando de la reactividad que ofrece.</p>
            </div>

        </div>

         <div class="item">
            <div class="circle">
              <div class="image"></div>
            </div>

             <div class="content">
              <h3>Front End </h3>
              <p>Podrás construir interfaces estelares en un fin de semana. Disfrutando de la reactividad que ofrece.</p>
            </div>

        </div>

         <div class="item">
            <div class="circle">
              <div class="image"></div>
            </div>

             <div class="content">
              <h3>Front End </h3>
              <p>Podrás construir interfaces estelares en un fin de semana. Disfrutando de la reactividad que ofrece. Podrás construir interfaces estelares en un fin de semana.</p>
            </div>

        </div>

         <div class="item">
            <div class="circle">
              <div class="image"></div>
            </div>

             <div class="content">
              <h3>Aprendices </h3>
              <p>Podrás construir interfaces estelares en un fin de semana. Disfrutando de la reactividad que ofrece.</p>
            </div>

        </div>
          
        </div> 


          
          
        </div>

        </div>
   </div>
  </section>
</template>